src/main/resources/Parser.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://utildomain.api.redecorp.br/Parser/v1/"
                  targetNamespace="http://utildomain.api.redecorp.br/Parser/v1/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://utildomain.api.redecorp.br/Parser/v1/" version="1.0">
			<xs:element name="parserRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="url" type="xs:string"/>
						<xs:element name="header" type="xs:string"/>
						<xs:element name="body" type="xs:string"/>
						<xs:element name="verb" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="parserResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="statusCode" type="xs:int"/>
						<xs:element name="result" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="tefHeaderType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="parserRequest">
		<wsdl:part element="tns:tefHeaderType" name="tefHeaderType"> </wsdl:part>
		<wsdl:part element="tns:parserRequest" name="parserRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="parserResponse">
		<wsdl:part element="tns:parserResponse" name="parserResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ParserPort">
		<wsdl:operation name="parser">
			<wsdl:input message="tns:parserRequest" name="parserRequest"> </wsdl:input>
			<wsdl:output message="tns:parserResponse" name="parserResponse"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ParserPortSoap" type="tns:ParserPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="parser">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:header message="tns:parserRequest" part="tefHeaderType" use="literal"/>
				<soap:body parts="parserRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output name="parserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ParserPortService">
		<wsdl:port binding="tns:ParserPortSoap" name="ParserPortSoap">
			<soap:address location="http://localhost:8081/parser"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>